*{
    margin: 0; 
    padding: 0;
}

:root{
--color1: #9FD86B;
--color2: #53ba83;
--color3: #059b9a;
--color4: #095169;
--color5: #0c0636;
}

@font-face {
    font-family: "Digital Clock";
    src: url("font/digital.woff");
}

body{ 
    text-align: center;
    background-color: var(--color5);
}

header{
    margin-top: 40px;;
}

header h1{
    font-family: 'Digital Clock';
    font-size: 4.5rem;
    color: var(--color3);
    letter-spacing: 4px;
    font-weight: normal;
}

#container{
    display: flex;
    justify-content: space-around;
}

#aside, #empty{
    width: 20rem;
    align-self: center;
    font-family: 'Nunito', sans-serif;
    color: var(--color1);
}

#aside h2{
    margin-bottom: 12px;
}

li{
    width: 10rem;
    margin: 0 auto;
    color: var(--color2);
}

#clear, #countdown, .countdown{
    display: inline-block;
    margin-top: 10px;
    border-radius: 3px;
    background-color: var(--color4);
    color: var(--color2);
    padding: 5px 10px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
}

.countdown{
	margin: 0 32px;
    box-shadow: 2px 2px 3px #000;
    width: 32px;
}

#less{
	margin-bottom: 10px;
}

#less, #most{
	visibility: hidden;
	text-align: left;
	margin-left: 40px;
}

#screen{
    margin: 3rem auto 0 auto;
    border: 2px solid var(--color3);
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.numbers{
    display: inline-block;
    font-size: 6rem;
    width: 6.25rem;
    align-self: center;
    font-family: "Digital Clock";
    color: var(--color1);
}

#fSec{
    font-size: 3.45rem;
    width: 3.7rem;
    text-align: left;
}

#instructions{
    text-align: center;
    margin-top: 25px;
}

#instructions .buttons{
    display: inline-block;
    margin: 5px 15px;
    border-radius: 3px;
    background-color: var(--color4);
    color: var(--color2);
    padding: 5px 10px;
    font-size: 1.15rem;
    border: none;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    width: 105px;
}

#instructions .buttons:hover, #clear:hover{
    color: var(--color1);
}

footer{
    /*font-family: 'Digital Clock';*/
    margin-top: 22px;
    font-family: 'Nunito', sans-serif;
    color: var(--color2);
}

footer a{
    color: var(--color2);
}

#countdown{
	height: fit-content;
	width: fit-content;
	margin: 0 auto;
}

@media screen and (max-width: 600px){
    #container{
        flex-direction: column;
    }

    #aside{
    	margin-top: 20px;
    	padding-top: 20px;
    	border-top: 1px solid var(--color2);
    }
}